
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myEventLabel">Criar/Editar Evento</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <label class="control-label" for="field_eventName">Nome</label>
            <input type="text" class="form-control" name="eventName" id="field_eventName"
                    ng-model="vm.event.eventName"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_period">Data(s)</label>
            <input type="text" class="form-control" name="period" id="field_period"
                    ng-model="vm.event.period"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_tags">Tags</label>
            <input type="text" class="form-control" name="tags" id="field_tags"
                    ng-model="vm.event.tags"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_link">Link</label>
            <input type="text" class="form-control" name="link" id="field_link"
                    ng-model="vm.event.link"
                     />
        </div>

        <div class="form-group">
            <label class="control-label" for="field_picture">Imagem de Capa</label>
            <input type="text" class="form-control" name="picture" id="field_picture"
                    ng-model="vm.event.picture"
                     />
        </div>

        <div class="form-group">
            <label class="control-label" for="field_description">Descrição</label>
            <div text-angular id="field_description" ng-model="vm.event.description"></div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
