
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myEventLabel">Create or edit a Event</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.event.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.event.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_eventId">Event Id</label>
            <input type="number" class="form-control" name="eventId" id="field_eventId"
                    ng-model="vm.event.eventId"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_eventName">Event Name</label>
            <input type="text" class="form-control" name="eventName" id="field_eventName"
                    ng-model="vm.event.eventName"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="vm.event.description"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_period">Period</label>
            <input type="text" class="form-control" name="period" id="field_period"
                    ng-model="vm.event.period"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_createdAt">Created At</label>
                <div class="input-group">
                    <input id="field_createdAt" type="text" class="form-control" name="createdAt" uib-datepicker-popup="{{dateformat}}" ng-model="vm.event.createdAt" is-open="vm.datePickerOpenStatus.createdAt"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('createdAt')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_tags">Tags</label>
            <input type="text" class="form-control" name="tags" id="field_tags"
                    ng-model="vm.event.tags"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_link">Link</label>
            <input type="text" class="form-control" name="link" id="field_link"
                    ng-model="vm.event.link"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_latitude">Latitude</label>
            <input type="number" class="form-control" name="latitude" id="field_latitude"
                    ng-model="vm.event.latitude"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_longitude">Longitude</label>
            <input type="number" class="form-control" name="longitude" id="field_longitude"
                    ng-model="vm.event.longitude"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_picture">Picture</label>
            <input type="text" class="form-control" name="picture" id="field_picture"
                    ng-model="vm.event.picture"
                     />
        </div>

        <div class="form-group">
            <label for="field_posts">Posts</label>
            <select class="form-control" id="field_posts" multiple name="posts" ng-model="vm.event.posts" ng-options="post as post.id for post in vm.posts track by post.id"></select>
        </div>
        <div class="form-group">
            <label for="field_socialNetworks">Social Networks</label>
            <select class="form-control" id="field_socialNetworks" multiple name="socialNetworks" ng-model="vm.event.socialNetworks" ng-options="socialNetwork as socialNetwork.id for socialNetwork in vm.socialnetworks track by socialNetwork.id"></select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
